@using VidlyMovieRentalApp.Models
@model VidlyMovieRentalApp.Models.Movie
@{
    // Title of the page shown in the browser
    ViewBag.Title = "Random";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* For ViewData *@
@*<h2>@(((Movie)ViewData["Movie"]).Name)</h2>*@
@* For View Bag *@
<h2>@ViewBag.Movie.Name</h2>
