@using System.ServiceModel.Configuration
@model VidlyMovieRentalApp.ViewModels.RandomMovieViewModel
@{
    // Title of the page shown in the browser
    ViewBag.Title = "Random";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Movie.Name</h2>
@{

    var className="";
    if (Model.Customers.Count==2)
    {
        className = "popular";
    }
}

<ul class="@className">

    @{
        foreach (var customers in Model.Customers)
        {
            <li>@customers.Name</li>
        }
    }
</ul>
