@model IEnumerable<VidlyMovieRentalApp.Models.Customer>
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Customers</h2>
@if (!Model.Any())
{
    <p>We do not have any Customer yet!</p>
}
else
{
    <table class="table table-bordered table-hover">
        <tr>


        <th>Customer Name</th>
        <th>Discount Rate</th>

        @{

            foreach (var item in Model)
            {
                <tr>
                    <td>@Html.ActionLink(item.Name, "Details", new {item.Id})</td>
                    <td>@item.MembershipType.DiscountRate%</td>
                </tr>
            }
        }


    </table>
}